<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Only Inventory</title>
    <script>
        const theme = localStorage.getItem('theme');
        const themeLink = document.createElement('link');
        themeLink.id = 'theme-link';
        themeLink.rel = 'stylesheet';
        themeLink.href = theme === 'dark' ? '/dark-styles.css' : '/styles.css';
        document.head.appendChild(themeLink);
    </script>
    <script src="/toggle-theme.js" defer></script>
</head>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/products">Products</a>
            <a href="javascript:history.back()">Back</a>
        </nav>
    </header>
<body>
    <h1>Categories</h1>
    <a href="/addcategory">Add Category</a>
    <ul>
        <% categories.forEach(function(category) { %>
            <li><%= category.name %>
                <button onclick="location.href='/categories/<%= category.name %>/products'">View Products</button>
            </li>
        <% }); %>
    </ul>
</body>
</html>