<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Only Inventory</title>
    <script>
        const theme = localStorage.getItem('theme');
        const themeLink = document.createElement('link');
        themeLink.id = 'theme-link';
        themeLink.rel = 'stylesheet';
        themeLink.href = theme === 'dark' ? '/dark-styles.css' : '/styles.css';
        document.head.appendChild(themeLink);
    </script>
    <script src="/toggle-theme.js" defer></script>
</head>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/categories">Categories</a>
            <a href="javascript:history.back()">Back</a>
        </nav>
    </header>
<main>
    <h1>Products List</h1>
    <button><a href="/addproduct">Add Product</a></button>
    <% if (products.length === 0 && category != undefined) { %>       
        <button><a href="/removecategory/<%= category.name %>">Remove Category</a></button>
    <% } %>
    <ul>
        <% products.forEach(function(product) { %>
            <li><%= product.name %> - $<%= product.price %>
                <a href="/products/<%= product.id %>">View</a>
            </li>
        <% }); %>
    </ul>
</main>
</html>